
<ng-container *ngIf="role$ | async as role">
  <ng-container *ngIf="user$ | async as user">

    <ng-container *ngIf="role === 'iceman'">
      <p>Lista dostępnych smaków</p>
      <div class="flavors-list__container">
        <app-list-item *ngFor="let flavor of user.flavors, let i = index">
          <div class="flavors-list__element">
            {{ i + 1 }}.
          </div>
          <div class="flavors-list__element">
            {{ flavor }}
          </div>
          <button (click)="deleteFlavor(flavor)" mat-button color="primary">Usuń</button>
        </app-list-item>
      </div>
    </ng-container>

    <ng-container *ngIf="role === 'client'">
    <ng-container *ngIf="user.favoriteFlavors; else noFavorites">
        <p>Lista ulubionych smaków</p>
        <div class="flavors-list__container">
          <app-list-item *ngFor="let flavor of user.favoriteFlavors, let i = index">
            <div class="flavors-list__element">
              {{ i + 1 }}.
            </div>
            <div class="flavors-list__element">
              {{ flavor }}
            </div>
            <button (click)="deleteFavoriteFlavor(flavor)" mat-button color="primary">Usuń</button>

          </app-list-item>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noFavorites>
      <p>Nie masz jeszcze żadnych ulubionych smaków. Dodaj smak do ulubionych używając formularza poniżej.</p>
    </ng-template>

  </ng-container>
</ng-container>
